extends doc.jade

block title
    title= num

block append scripts
    if locals.num
        script(src="tests/t" + num + ".js")

block body
    if !locals.num
        - var file = 0
        while file < maxNum
            - file++
            a(href=file) Test Nr. #{file} : #{desc[file-1]}
            br