script(src="plena/color.js")
script(src="plena/data.js")
script(src="plena/math.js")
script(src="plena/input.js")
script(src="plena/assets.js")
script(src="plena/world.js")
script(src="plena/plena.js")
script(src="plena/graphics.js")
script(src="plena/grix.js")